.vod{
background-color: aquamarine;
}
.ved{
background-color: aquamarine;
}
.vyd1{
height:350px;
width: 500px;
margin: 10px 20px;
margin-left: 100px;
}
.imgo{

}
.ii2{
   height:350px;
   width: 500px;
   margin: 10px 20px;
   margin-left: 100px;
}