.v1{
background-color: rgb(194, 250, 231);
}
.vid1{
 
}
.vd1{
   height:350px;
   width: 500px;
   margin: 10px 20px;
   margin-left: 100px;
   
}
.iii2{
   height:350px;
   width: 500px;
   margin: 10px 20px;
   margin-left: 100px;
}